/* #div1{
    background-color: red;
    height: 100px;
    width: 500px;
} */

/* the size of div2 is % of parent div */
/* #div2{
    background-color: aqua;
    height: 50%;
    width: 50%;
    margin: 20px;
    padding: 20px;
} */